.h1 {
  font-size: 72px;
}

.page-title {
  color: #fff;
  max-width: 400px;

  span {
    border-bottom: 10px solid #fff;
  }
}

.page-extract {
  max-width: 400px;
  font-size: 24px;
}

.mt-64 {
  margin-top: 64px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-128 {
  margin-top: 128px;
}


